.bg-breadcrumb {
  background: linear-gradient(rgba(19, 53, 123, 0.5), rgba(19, 53, 123, 0.5)), url(../../../assets/images/breadcrumb-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
  padding: 150px 0 50px 0;
}

.mw {
  max-width: 900px;
}
