<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a routerLink="homepage"   class="nav-item nav-link px-2 text-black">Home    </a></li>
      <li class="nav-item"><a routerLink="packages"   class="nav-item nav-link px-2 text-black">Packages</a></li>
      <li class="nav-item"><a href="#"                class="nav-item nav-link px-2 text-black">FAQ     </a></li>
      <li class="nav-item"><a routerLink="about-us"   class="nav-item nav-link px-2 text-black">About   </a></li>
      <li class="nav-item"><a routerLink="contact-us" class="nav-item nav-link px-2 text-black">Contact </a></li>
    </ul>
    <p class="text-center text-black">© Timeless Travels, all rights reserved.</p>
  </footer>
</div>
