<div class="container-fluid bg-primary px-5 d-none d-lg-block">
  <div class="row gx-0">
      <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
          <div class="d-inline-flex align-items-center top-bar">
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="#"><i class="fab fa-twitter fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href="#"><i class="fab fa-instagram fw-normal"></i></a>
              <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"      href="#"><i class="fab fa-youtube fw-normal"></i></a>
          </div>
      </div>
      <div class="col-lg-4 text-center text-lg-end">
          <div class="d-inline-flex align-items-center top-bar">
              <a routerLink="auth/register" routerLinkActive="active-link" *ngIf="!isLoggedIn"><small class="me-3 text-light"><i class="fa fa-user me-2"       ></i>Register</small></a>
              <a routerLink="auth/login"    routerLinkActive="active-link" *ngIf="!isLoggedIn"><small class="me-3 text-light"><i class="fa fa-sign-in-alt me-2"></i>Login</small></a>
              <div class="dropdown" *ngIf="isLoggedIn">
                  <a href="#" class="dropdown-toggle text-light" data-bs-toggle="dropdown"><small><i class="fa fa-home me-2"></i> My Dashboard</small></a>
                  <div class="dropdown-menu rounded">
                      <a href="#" class="dropdown-item"><i class="fas fa-user-alt me-2" ></i> My Profile</a>
                      <button (click)="logout()" class="dropdown-item"><i class="fas fa-power-off me-2"></i> Log Out</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid position-relative p-0">
  <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0" [ngClass]="{'sticky-top': isSticky }">
      <a routerLink="homepage" class="navbar-brand p-0">
          <img *ngIf="!isSticky" src="../../../assets/images/logo/TIMELESS-TRAVEL-LOGO-WHITE.png" alt="Logo-white">
          <img *ngIf="isSticky"  src="../../../assets/images/logo/TIMELESS_TRAVELS_LOGO_2.png"    alt="Logo-white">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
              <a routerLink="homepage"   routerLinkActive="active-link" class="nav-item nav-link">Home</a>
              <a routerLink="packages"   routerLinkActive="active-link" class="nav-item nav-link">Packages</a>
              <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                  <div class="dropdown-menu m-0">
                      <a routerLink="#"  routerLinkActive="active-link" class="dropdown-item">Destination</a>
                      <a routerLink="#"  routerLinkActive="active-link" class="dropdown-item">Explore Tour</a>
                      <a routerLink="#"  routerLinkActive="active-link" class="dropdown-item">Travel Booking</a>
                      <a routerLink="#"  routerLinkActive="active-link" class="dropdown-item">Our Gallery</a>
                      <a routerLink="#"  routerLinkActive="active-link" class="dropdown-item">Travel Guides</a>
                      <a routerLink="#"  routerLinkActive="active-link" class="dropdown-item">Testimonial</a>
                      <a routerLink="#"  routerLinkActive="active-link" class="dropdown-item">404 Page</a>
                  </div>
              </div>
              <a href="#"                target="_blank"                class="nav-item nav-link">Blog</a>
              <a routerLink="about-us"   routerLinkActive="active-link" class="nav-item nav-link">About</a>
              <a routerLink="contact-us" routerLinkActive="active-link" class="nav-item nav-link">Contact</a>
          </div>
          <a href="" class="btn btn-primary rounded-pill py-2 px-4 ms-lg-4">Book Now</a>
      </div>
  </nav>
</div>
