<!-- ----------- HERO ----------- -->
<section id="hero-section">
  <div class="container-fluid position-relative p-0">
    <div class="carousel-header">
      <div id="carouselId" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselId" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselId" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="../../../assets/images/journey.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3 c-width">
                        <h4 class="text-white text-uppercase fw-bold mb-4 spacing">Discover Your Next Adventure</h4>
                        <h1 class="display-2 text-capitalize text-white mb-4">Embark on Unforgettable Journeys</h1>
                        <p class="mb-5 fs-5">Experience the wonders of the world. Whether you're seeking cultural immersion, thrilling adventures, or serene getaways, we have the perfect tour for you.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/dream-vacation.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3 c-width">
                        <h4 class="text-white text-uppercase fw-bold mb-4 spacing">Your Dream Vacation Awaits</h4>
                        <h1 class="display-2 text-capitalize text-white mb-4">Create Timeless Memories</h1>
                        <p class="mb-5 fs-5">Indulge in the beauty of diverse landscapes, taste exotic cuisines, and connect with people from around the globe. Let Timeless Travels be your guide to extraordinary experiences.</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../../assets/images/borealis.jpg" class="img-fluid" alt="Image">
                <div class="carousel-caption">
                    <div class="p-3 c-width">
                        <h4 class="text-white text-uppercase fw-bold mb-4 spacing">Escape to New Horizons</h4>
                        <h1 class="display-2 text-capitalize text-white mb-4">Unleash Your Wanderlust</h1>
                        <p class="mb-5 fs-5">Leave the ordinary behind and embark on extraordinary adventures. From breathtaking natural wonders to ancient marvels, let us take you on a journey of a lifetime.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
              <span class="carousel-control-prev-icon btn bg-primary" aria-hidden="false"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
              <span class="carousel-control-next-icon btn bg-primary" aria-hidden="false"></span>
            </button>
        </div>
      </div>
    </div>
  </div>
</section>

