<div class="container">
  <div class="registration-container">
    <div class="registration-box">
      <main>
        <div class="container">
          <h1 class="text-center mb-1">Register</h1>
          <p class="text-center mb-5">Have an account already?
            <a class="login-link" routerLink="../login" routerLinkActive="active">Login instead!</a>
          </p>
          <form (ngSubmit)="registerUser()">
            <div class="row g-3 mb-4">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control bg-white ms-1" id="name" name="name" placeholder="" value="" required [(ngModel)]="userRegister.name">
                  <label for="name" class="ms-1">Name*</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control bg-white ms-1" id="surname" name="surname" placeholder="" value="" required [(ngModel)]="userRegister.surname">
                  <label for="surname" class="ms-1">Surname*</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control bg-white ms-1" id="username" name="username" placeholder="" value="" required [(ngModel)]="userRegister.username">
                  <label for="username" class="ms-1">Username*</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="password" class="form-control bg-white ms-1" id="password" name="password" placeholder="" value="" required [(ngModel)]="userRegister.password">
                  <label for="password" class="ms-1">Password*</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating">
                  <input type="email" class="form-control bg-white ms-1" id="email" name="email" placeholder="" value="" required [(ngModel)]="userRegister.email">
                  <label for="email" class="ms-1">Email address*</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="date" class="form-control bg-white ms-1" id="birthday" name="birthday" placeholder="" value="" required [(ngModel)]="userRegister.birthday">
                  <label for="birthday" class="ms-1">Birthday*</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="number" class="form-control bg-white ms-1" id="phoneNumber" name="phoneNumber" placeholder="" value="" required [(ngModel)]="userRegister.phoneNumber">
                  <label for="phoneNumber" class="ms-1">Phone number*</label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary my-5">Register now</button>
              <span *ngIf="registering" class="spinner-border spinner-border-sm" role="status"></span>
            </div>
          </form>
        </div>
      </main>
    </div>
  </div>
</div>
