<!-- ----------- ABOUT US ----------- -->
<section id="about-us-section">
  <div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="h-100 img-bg">
                    <img src="../../../assets/images/logo/TIMELESS_TRAVELS_LOGO_1.png" class="img-fluid w-100 h-100" alt="">
                </div>
            </div>
            <div class="col-lg-7 about-us-text-bg">
                <h5 class="section-about-title pe-3">About Us</h5>
                <h1 class="mb-4">Welcome to <span class="text-primary">Timeless Travels</span></h1>
                <p class="mb-4">At Timeless Travels, we specialize in crafting unforgettable journeys that transport you to new horizons and create timeless memories. Whether you're dreaming of exploring ancient wonders, relaxing on pristine beaches, or immersing yourself in vibrant cultures, we have the expertise to curate the perfect itinerary for you.</p>
                <p class="mb-4">With our meticulous attention to detail, we take care of every aspect of your trip, from arranging first-class flights and handpicked accommodations to providing you with the latest model vehicles for seamless transportation. Our team of experienced travel professionals is dedicated to ensuring that every moment of your adventure is filled with joy, excitement, and discovery.</p>
                <div class="row gy-2 gx-4 mb-4">
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>We Take Care Of Your Flights</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Handpicked Hotels</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Highest Quality Accommodations</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Comfortable Transport</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Premium City Tours</p>
                    </div>
                    <div class="col-sm-6">
                        <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>24/7 Service</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>

<!-- ----------- OUR GUIDES ----------- -->
<section id="our-guides-section">
  <div class="container-fluid guide py-5">
    <div class="container py-5">
        <div class="mx-auto text-center mb-5" style="max-width: 900px;">
            <h5 class="section-title px-3">Travel Guides</h5>
            <h1 class="mb-0">Meet Our Guides</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="../../../assets/images/our-guides/almos-bechtold.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/shallow-focus-photo-of-woman-face-3402kvtHhOo" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/shallow-focus-photo-of-woman-face-3402kvtHhOo" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/shallow-focus-photo-of-woman-face-3402kvtHhOo" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/shallow-focus-photo-of-woman-face-3402kvtHhOo" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Lily O'Connor</h4>
                            <p class="mb-0">Europe</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="../../../assets/images/our-guides/joseph-gonzalez.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-wearing-white-v-neck-shirt-iFgRcqHznqg" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-wearing-white-v-neck-shirt-iFgRcqHznqg" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-wearing-white-v-neck-shirt-iFgRcqHznqg" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-wearing-white-v-neck-shirt-iFgRcqHznqg" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Wei Chen</h4>
                            <p class="mb-0">Asia</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="../../../assets/images/our-guides/jurica-koletic.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-wearing-henley-top-portrait-7YVZYZeITc8" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-wearing-henley-top-portrait-7YVZYZeITc8" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-wearing-henley-top-portrait-7YVZYZeITc8" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-wearing-henley-top-portrait-7YVZYZeITc8" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Jack Anderson</h4>
                            <p class="mb-0">America</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="guide-item">
                    <div class="guide-img">
                        <div class="guide-img-efects">
                            <img src="../../../assets/images/our-guides/heinrich-steev.jpg" class="img-fluid w-100 rounded-top" alt="Image">
                        </div>
                        <div class="guide-icon rounded-pill p-2">
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-in-green-shirt-with-black-beard-n9yyVPeC8UM" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-in-green-shirt-with-black-beard-n9yyVPeC8UM" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-in-green-shirt-with-black-beard-n9yyVPeC8UM" target="_blank"><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary rounded-circle mx-1" href="https://unsplash.com/photos/man-in-green-shirt-with-black-beard-n9yyVPeC8UM" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                    <div class="guide-title text-center rounded-bottom p-4">
                        <div class="guide-title-inner">
                            <h4 class="mt-3">Ramesh Kumar</h4>
                            <p class="mb-0">Asia</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
