/*** Trip Details ***/

.trip-details {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.trip-details-bg {
  background-color: #f8f8f9;
}

.trip-details h2 {
  color: #333;
  margin-bottom: 20px;
}

.trip-details .row {
  margin-bottom: 20px;
}

.trip-details .fw-bold {
  font-weight: bold;
}

.trip-details p {
  color: #666;
  font-size: 16px;
  line-height: 1.6;
}

/*** Booking ***/
.booking {
  background: linear-gradient(rgb(6, 36, 49), rgb(130, 169, 180));
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.booking .info {
  font-size: 0.8rem;

  a {
    text-decoration: none;
  }
}

.booking .container .section-booking-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  color: var(--bs-white);
}

.booking .container .section-booking-title::before {
  content: "";
  width: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-right: -50px;
  border: 1px solid var(--bs-white) !important;
}

.booking .container form .btn.btn-primary {
  box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.booking .container form .btn.btn-primary:hover {
  box-shadow: inset 800px 0 0 0 var(--bs-light) !important;
  color: var(--bs-primary) !important;
}

/*** Packages ***/

#packages-section {
  background-color: #ebeced;
}

.packages-item .packages-img {
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  z-index: 1;
}

.packages-item .packages-img a img {
  height: 380px;
}

.packages-item a {
  text-decoration: none;
}

.packages-item .packages-img .packages-info {
  background: rgba(0, 0, 0, .3);
}

.packages-item .packages-img .packages-info small,
.packages-item .packages-img .packages-info small i {
  color: var(--bs-white);
  transition: 0.5s;
}


.packages-item .packages-img small,
.packages-item .packages-img small i {
  transition: 0.5s;
}

.packages-item .packages-img:hover small,
.packages-item .packages-img:hover small i {
  color: var(--bs-white) !important;

}

.packages-item .packages-img a {
  display: block;
}

.packages-item .packages-img img {
  transition: 0.5s;
}

.packages-item .packages-img:hover img {
  transform: scale(1.3);
}

.packages-item .packages-img .packages-price {
  position: absolute;
  width: 100px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background: var(--bs-primary);
  color: var(--bs-white);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.packages-item .packages-img::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0px solid;
  border-radius: 10px !important;
  visibility: hidden;
  transition: 0.7s;
  z-index: -1;
}

.section-b-img {
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.packages-item .packages-content-inner p {
  height: 125px;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .packages-item .packages-content-inner p {
    height: 155px;
  }
}
